.breadcrumbs {
    background: #f6f6f6;
    padding: 20px 0;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 6px 0;

        li {
            font-size: 14px;
            font-weight: 500;
            color: #808080;
            margin-right: 25px;
            display: inline-block;
            vertical-align: middle;
            position: relative;

            a {
                color: #363636;
            }

            &:last-child {
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            &::after {
                content: '/';
                position: absolute;
                right: -17px;
                top: 0;
            }
        }
    }

    .title {
        font-weight: 700;
        margin: 0;
        font-size: 20px;
        color: #1a1a1a;
    }
}

.catalog-section {
    padding: 22px 0 80px 0;
}

.catalog__productssect {
    width: 100%;
    max-width: calc(100% - 210px);
    flex: 0 0 calc(100% - 210px);
    padding-left: 90px;

    .sliderprodblock .sliderprodblock__descr .title {
        font-weight: 700;
        padding-right: 35px;
    }

    .sliderprodblock .sliderprodblock__descr .favbtn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        top: 10px;

        &:hover {
            background-color: #f6f6f6;
        }
    }

    .sliderprodblock {
        margin-top: 15px;
    }

}

.catalog__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .catalog__showed {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        color: #929292;

        p {
            margin: 0;
        }

        span {
            color: #231f20;
        }
    }

    .catalog__sortfield {
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
            font-weight: 500;
            color: #929292;
            margin-right: 20px;
        }

        .jq-selectbox {
            width: 240px;
        }


    }

    .catalog__pagination {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                font-weight: 500;
                font-size: 14px;
                color: #231f20;
                margin: 0 5px;
            }
        }
    }
}

.catalog__filtersect {
    width: 100%;
    max-width: 210px;
    flex: 0 0 210px;

    .catalog__filtersect-box {
        padding: 22px 0;
        border-bottom: 1px solid #dcdcdc;

        .title {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            color: #1a1a1a;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                background: url('../img/select-arrow.png') no-repeat center;
                transform: rotate(0);
                top: 4px;
                transition: 0.3s;
            }

            &.rotate {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        .catalog__filtersect-descr {
            display: none;
            padding: 20px 0 0 20px;

            &.p0 {
                padding-left: 0;
            }
        }
    }

    .catalog__choosebox {
        margin-bottom: 10px;


        &:last-child {
            margin-bottom: 0;
        }

        input {
            display: none;

            &:checked+label {
                font-weight: 500;
                color: #1a1a1a;
            }
        }

        label {
            margin: 0;
            display: block;
            cursor: pointer;
        }


    }
}

.catalog__chcolors {
    .colfield {
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 4px;

        input {
            display: none;

            &:checked+label {
                border: 4px double #fff;
            }
        }

        label {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.catalog__chsize {
    .sizefield {
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 4px;

        input {
            display: none;

            &:checked+label {
                border: 1px solid #292526;
            }
        }

        label {
            margin: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
            transition: 0.3s;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.catalog__chsize {
    .pricefield {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        input {
            display: none;

            &:checked+label {
                border: 1px solid #1a1a1a;
            }
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 48px;
            width: 100%;
            color: #231f20;
            font-size: 12px;
            font-weight: 700;
            border: 1px solid #dcdcdc;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
        }
    }
}

.filterbtn {
    display: none;
}

.sliderprodblock.disabled {
    .sliderprodblock__img {
        position: relative;

        img {
            opacity: 0.5;
        }
    }

    .sliderprodblock__descr {

        .title,
        .colection,
        .price,
        .favbtn {
            opacity: 0.75;
        }
    }

    .notavailable-span {
        font-size: 15px;
        color: #231f20;
        display: inline-block;
        padding: 2px 10px;
        background: #ebeaea;
        position: absolute;
        z-index: 2;
        border-radius: 15px;
        top: 20px;
        right: 20px;
    }

    .sliderprodblock__descr {
        position: relative;

        .notavbtn {
            display: block;
            color: #fff;
            font-size: 16px;
            background: #231f20;
            position: absolute;
            left: 0;
            top: -42px;
            width: 100%;
            border-radius: 20px;
            text-align: center;
            padding: 7px 10px;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            transition: 0.3s;

            &:hover {
                background: #000;
            }
        }
    }

    &:hover {
        .sliderprodblock__descr {
            .notavbtn {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
    }
}

.signmodal .signmodal__inputfield input {
    transition: 0.3s;

    &:focus {
        border: 1px solid #1a1a1a;
    }
}

#rememberme .blackbtn {
    margin-top: 30px;
}

.remembermessage {
    max-width: 650px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 8px 23.2px 5.8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 8;
    padding: 30px 60px 30px 30px;

    .remembermessage__close {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30px;
        right: 30px;
        border: none;
        outline: none;
        background: transparent;


        img {
            width: 100%;
        }
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        color: #1a1a1a;
        margin: 0;
    }

    .descr {
        margin: 0;
        font-size: 18px;
        color: #1a1a1a;
    }
}

.header__navsect ul:not(.sublist)>li>a:hover+.sublist,
.header__navsect ul:not(.sublist)>li>a+.sublist {
    z-index: 14 !important;
}














@media(max-width:1600.8px) {
    .breadcrumbs {
        padding: 10px 0;
    }
}

@media(max-width:1199.8px) {
    .catalog__filtersect .catalog__filtersect-box {
        padding: 18px 0;
    }

    .catalog__productssect {
        padding-left: 40px;
    }

    .catalog__pagination {
        img {
            width: 20px;
        }

        ul {
            display: flex;
            align-items: baseline;
        }
    }

    .catalog__sort .catalog__sortfield span {
        margin-right: 10px;
    }

    .jq-selectbox__select {
        height: 48px;
    }

    .jq-selectbox__select .jq-selectbox__select-text {
        line-height: 48px;
    }

    .catalog__sort .catalog__sortfield .jq-selectbox {
        width: 210px;
    }

    .sliderprodblock .sliderprodblock__img {
        height: 220px;
    }









}

@media(max-width:1024.8px) {
    .sliderprodblock.disabled .sliderprodblock__descr .notavbtn {
        visibility: visible;
        z-index: 5;
        opacity: 1;
    }
}

@media(max-width:991.8px) {

    .catalog__sort {
        flex-wrap: wrap;
    }

    .catalog__sort .catalog__showed {
        order: 1;
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .catalog__pagination {
        order: 2;
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .catalog__sort .catalog__sortfield {
        order: 3;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 20px;
    }

    .catalog__pagination ul {
        justify-content: flex-end;
    }

    .remembermessage {
        max-width: 550px;
        padding: 20px 50px 20px 20px;
        bottom: 30px;
    }

    .remembermessage .title {
        font-size: 18px;
    }

    .remembermessage .descr {
        font-size: 16px;
    }

    .remembermessage .remembermessage__close {
        top: 20px;
        right: 20px;
    }

    .filetrwrapper {
        position: sticky;
        top: 0;
    }












}

@media(max-width:575.8px) {
    .catalog__filtersect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .filterbtn {
        display: flex;
        font-size: 18px;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #dcdcdc;
        font-weight: 500;

        img {
            margin-right: 15px;
        }

    }

    .filetrwrapper {
        display: none;
    }

    .catalog-section {
        padding-top: 0;
    }

    .catalog__filtersect .catalog__filtersect-box .title {
        font-size: 16px;
    }

    .catalog__filtersect .catalog__filtersect-box {
        padding: 15px 0;
    }

    .catalog__productssect {
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 15px;
    }

    .catalog__sort {
        padding-top: 20px;
    }

    .catalog__sort .catalog__showed {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .catalog__pagination {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .catalog__sort .catalog__sortfield span {
        display: none;
    }

    .catalog__sort .catalog__sortfield .jq-selectbox {
        width: 100%;
    }

    .sliderprodblock .sliderprodblock__img {
        height: 200px;
    }

    .catalog__productssect .sliderprodblock .sliderprodblock__descr .favbtn {
        top: 0;
    }

    #rememberme .blackbtn {
        margin-top: 10px;
    }

    .remembermessage {
        max-width: 300px;
        padding: 10px 35px 10px 10px;
    }

    .remembermessage .remembermessage__close {
        top: 10px;
        right: 10px;
    }

    .remembermessage .title {
        font-size: 16px;
    }

    .remembermessage .descr {
        font-size: 14px;
    }





}