.ty {
    padding: 40px 0;
    text-align: center;
    background: url('../img/tybg.png') no-repeat center / 100% 100%;

    h1 {
        font-size: 36px;
        font-weight: 600;
        color: #1a1a1a;
        margin-bottom: 35px;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 86px;
            background: #1a1a1a;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            margin: 0 auto;
        }
    }

    .descr {
        p {
            color: #1a1a1a;
            font-size: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.ty__title {
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    margin-top: 55px;
}

.deliveryinfo {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    align-items: center;

    .deliveryinfo__name {
        width: 100%;
        max-width: 25%;
        flex: 0 0 25%;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        color: #231f20;
        padding-right: 15px;
    }

    .deliveryinfo__adress {
        width: 100%;
        max-width: 30%;
        flex: 0 0 30%;
        margin: 0;
        font-size: 13px;
        color: #231f20;
        padding-right: 15px;
    }

    .deliveryinfo__country {
        width: 100%;
        max-width: 22%;
        flex: 0 0 22%;
        margin: 0;
        font-size: 13px;
        color: #231f20;
        padding-right: 15px;
    }

    .deliveryinfo__change {
        width: 100%;
        max-width: 23%;
        flex: 0 0 23%;
        text-align: right;
        padding-right: 15px;

        a {
            font-size: 14px;
            font-weight: 600;
            color: #231f20;
            margin: 0;
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 3px;
        }
    }
}

.shopcardright.shopcardright__ty {
    padding-top: 50px;
}

@media(max-width:1600.8px) {
    .ty h1 {
        font-size: 31px;
    }

    .ty .descr p {
        font-size: 16px;
    }

    .ty h1:after {
        bottom: -15px;
    }

    .ty h1 {
        margin-bottom: 30px;
    }

    .ty {
        padding: 30px 0;
    }

    .ty__title {
        margin-top: 40px;
    }











}

@media(max-width:1199.8px) {
    .deliveryinfo {
        padding: 15px;
    }

    .deliveryinfo .deliveryinfo__name {
        font-size: 13px;
    }





}

@media(max-width:991.8px) {
    .ty h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .ty h1:after {
        width: 60px;
    }

    .ty h1:after {
        bottom: -10px;
    }

    .ty .descr p {
        font-size: 14px;
    }

    .ty__title {
        margin-top: 30px;
    }







}

@media(max-width:767.8px) {

    .deliveryinfo .deliveryinfo__name,
    .deliveryinfo .deliveryinfo__adress,
    .deliveryinfo .deliveryinfo__country,
    .deliveryinfo .deliveryinfo__change {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;
        margin-bottom: 10px;

        br {
            display: none;
        }
    }

    .deliveryinfo .deliveryinfo__change {
        margin-bottom: 0;
    }

}

@media(max-width:575.8px) {
    .ty h1 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .ty .descr p {
        font-size: 13px;
    }

    .ty__title {
        margin-top: 20px;
    }







}